*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

html{
    scroll-behavior: smooth;
}

header{
    border-bottom: 1px solid #808080;
    width: 100%;
    background-color: rgb(47, 55, 85);
    display: flex;
    position: fixed;
    z-index: 1;
}

#logo{
    height: 45px;
    width: 45px;
    background-image: url(./Images/Logo.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 90px;
}
#logoName{
    font-size: small;
    padding-left: 3px;
    color: #fff;
}

nav{
    margin-top: 20px;
    margin-left: 40%;
}
a{
    color: #fff;
    padding-right: 60px;
    text-decoration: none;
}

#home:hover{
    text-decoration: underline;
}
#edm:hover{
    text-decoration: underline;
}
#pm:hover{
    text-decoration: underline; 
}
#con:hover{
    text-decoration: underline;
}
#pe:hover{
    text-decoration: underline;
}

.userlogo{
    color: #fff;
    display: flex;
    position: relative;
    top: 15px;
    left: 550px;
}

.image{
    height: 50px;
    width: 50px;
    background-image: url(./Images/Bijay.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 90px;
    position: relative;
    bottom: 10px;
    margin-left: 15px;
}

.role{
    color: #fff;
    position: relative;
    top: 35px;
    left: 400px;
    font-size: small;
}

section{
    display: grid;
    height: 600px;
    width: 100%;
    position: relative;
    top: 60px;
    grid-template-columns: repeat(16,100px);
    grid-template-rows: repeat(7,100px);
}

.sideNavbar{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 8;
    background-color: rgb(47, 55, 85);
}

.sideNavbar button{
    height: 30px;
    width: 100%;
    margin-top: 10px;
}

.sideNavbar #dashboard{
    margin-top: 0px;
}

.content1{
    color: #fff;
    background-color: rgb(47, 55, 85);
    border-radius: 9px;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative;
    top: 10px;
    left: 30px;
}

.totalEmployees{
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
}

.totalEmployees i{
    padding-left: 20px;
}

.totalEmployees h3{
    font-size: small;
    padding-left: 10px;
}

.content1 #employees{
    padding-top: 10px;
    padding-left: 50%;
}

.girls{
    display: flex;
    padding-left: 30px;
    font-size: small;
}

.boys{
    display: flex;
    padding-left: 30px;
    font-size: small;
    margin-top: 6px;
}

.content2{
    color: #fff;
    background-color: rgb(47, 55, 85);
    border-radius: 9px;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative;
    top: 10px;
    left: 80px;
    height: 50px;
}

.newEmployee{
    display: flex;
    padding-top: 5px;
}

.newEmployee h3{
    font-size: small;
    padding-left: 10px;
}

.newEmployee i{
    padding-left: 24%;
}

#newEmployee{
    padding-top: 5px;
    padding-left: 47%;
}

.content3{
    color: #fff;
    background-color: rgb(47, 55, 85);
    border-radius: 9px;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative;
    top: 65px;
    left: 80px;
    height: 50px;
}

.GNP{
    display: flex;
    padding-top: 5px;
}

.GNP h3{
    font-size: small;
    padding-left: 10px;
}

.GNP i{
    padding-left: 20%;
}

#grossNetProfit{
    padding-top: 5px;
    padding-left: 37%;
}

.content4{
    color: #fff;
    grid-column-start: 8;
    grid-column-end: 15;
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative;
    top: 10px;
    left: 40px;
    display: flex;
}

.present{
    background-color: rgb(47, 55, 85);
    border-radius: 9px;
    height: 50px;
    width: 120px;
}

.present h3{
    font-size: small;
    padding-top: 5px;
    padding-left: 27%;
}

.present p{
    padding-top: 5px;
    padding-left: 37%;
}

.late{
    background-color: rgb(47, 55, 85);
    border-radius: 9px;
    height: 50px;
    width: 120px;
    margin-left: 40px;
}

.late h3{
    font-size: small;
    padding-top: 5px;
    padding-left: 37%;
}

.late p{
    padding-top: 5px;
    padding-left: 37%;
}

.absent{
    background-color: rgb(47, 55, 85);
    border-radius: 9px;
    height: 50px;
    width: 120px;
    margin-left: 40px;
}

.absent h3{
    font-size: small;
    padding-top: 5px;
    padding-left: 27%;
}

.absent p{
    padding-top: 5px;
    padding-left: 37%;
}

.EAC{
    background-color: rgb(47, 55, 85);
    border-radius: 9px;
    height: 50px;
    width: 400px;
    margin-left: 40px;
    display: flex;
}

.EAC i{
    padding-top: 15px;
    padding-left: 40px;
}

.EAC h3{
    font-size: small;
    padding-top: 15px;
    padding-left: 10px;
}

.content5{
    color: #fff;
    grid-column-start: 4;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 3;
    position: relative;
    top: 10px;
    left: 10px;
}

.searchSection{
    margin-top: 60px;
    margin-left: 140px;
    display: flex;
}

#searchbar{
    height: 30px;
    width: 250px;
    background-color: rgb(47, 55, 85);
    border-radius: 9px;
    padding-left: 5px;
    border: none;
    box-shadow: 2px 2px 7px 1px #000000;
    color: #fff;
}

.content5 ::placeholder{
    color: #fff;
    opacity: 1;
}

.searchSection button{
    height: 30px;
    width: 50px;
    border-radius: 9px;
    background-color: rgb(47, 55, 85);
    border: none;
    box-shadow: 2px 2px 7px 1px #000000;
    margin-left: 20px;
}

table{
    grid-column-start: 4;
    grid-column-end: 11;
    grid-row-start: 4;
    grid-row-end: 7;
    background-color: rgb(47, 55, 85);
    width: 100%;
}

#heading{
    background-color: #fff;
}

th{
    font-size: large;
    color: rgb(47, 55, 85);
}

td img{
    border-radius: 90px;
}
td{
    text-align: center;
    color: #fff;
}

td button{
    border-radius: 9px;
    border: none;
    height: 20px;
    width: 90px;
    box-shadow: 2px 2px 7px #aaaaaa;
}

.employeePerformance{
    height: 400px;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    margin-top: 30px;
}

.content6{
    color: #fff;
    grid-column-start: 11;
    grid-column-end: 14;
    grid-row-start: 2;
    grid-row-end: 3;
    position: relative;
    left: 105%;
    bottom: 500%;
    height: 500px;
    width: 400px;
    background-color: #fff;
    box-shadow: 2px 2px 9px 2px #aaaaaa;
    border-radius: 15px;
}

.content6 form input{
    background-color: rgb(47, 55, 85);
    color: #fff;
    border: none;
    border-radius: 9px;
    height: 30px;
    width: 190px;
    padding-left: 10px;
    margin-top: 20px;
    margin-left: 60px;
}

.content6 form button{
    background-color: rgb(47, 55, 85);
    color: #fff;
    border: none;
    border-radius: 9px;
    height: 30px;
    width: 50px;
    margin-top: 20px;
    margin-left: 10px;
}

.content6 h3{
    padding-top: 10px;
    text-align: center;
    color: rgb(47, 55, 85);
}

.Tasks{
    height: 400px;
    width: 100%;
    background-color: rgb(47, 55, 85);
    color: #fff;
    margin-top: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
    overflow: hidden;
    overflow-y: scroll;
}
.new{
    display: flex;
    margin-top: 10px;
    margin-left: 60px;
}

.new #tick{
    height: 20px;
    width: 20px;
}

.new li{
    list-style-type: none;
    padding-top: 22px;
    padding-left: 20px;
}

.new #edit{
    background-color: #fff;
    color: rgb(47, 55, 85);
    height: 20px;
    width: 25px;
    border-radius: 9px;
    margin-top: 20px;
    margin-left: 20px;
}

.new #delete{
    background-color: #fff;
    color: rgb(47, 55, 85);
    height: 20px;
    width: 25px;
    border-radius: 9px;
    margin-left: 20px;
    margin-bottom: 20px;
}