*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

html{
    scroll-behavior: smooth;
}

header{
    border-bottom: 1px solid #808080;
    width: 100%;
    background-color: rgb(47, 55, 85);
    display: flex;
    position: fixed;
    z-index: 1;
}

#logo{
    height: 45px;
    width: 45px;
    background-image: url(./Images/Logo.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 90px;
}
#logoName{
    font-size: small;
    padding-left: 3px;
    color: #fff;
}

nav{
    margin-top: 20px;
    margin-left: 40%;
}
a{
    color: #fff;
    padding-right: 60px;
    text-decoration: none;
}

#home:hover{
    text-decoration: underline;
}
#edm:hover{
    text-decoration: underline;
}
#pm:hover{
    text-decoration: underline; 
}
#con:hover{
    text-decoration: underline;
}
#pe:hover{
    text-decoration: underline;
}

.userlogo{
    color: #fff;
    display: flex;
    position: relative;
    top: 15px;
    left: 550px;
}

.image{
    height: 50px;
    width: 50px;
    background-image: url(./Images/Bijay.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 90px;
    position: relative;
    bottom: 10px;
    margin-left: 15px;
}

.role{
    color: #fff;
    position: relative;
    top: 35px;
    left: 400px;
    font-size: small;
}

section{
    display: grid;
    height: 600px;
    width: 100%;
    position: relative;
    top: 60px;
    grid-template-columns: repeat(16,100px);
    grid-template-rows: repeat(12,100px);
}

.sideNavbar{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 8;
    background-color: rgb(47, 55, 85);
}

.sideNavbar button{
    height: 30px;
    width: 100%;
    margin-top: 10px;
}

.sideNavbar #dashboard{
    margin-top: 0px;
}

.content{
    grid-column-start: 3;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 7;
}

.title h3{
    text-decoration: underline;
    position: relative;
    top: 30px;
    left: 47%;
}

.action{
    position: relative;
    top: 80px;
    left: 200px;
}

.action input{
    background-color: #EAEAEA;
    height: 25px;
    border-radius: 9px;
    border: none;
    padding-left: 10px;
    box-shadow: 4px 4px 9px #808080;
    margin-top: 30px;
    margin-left: 20px;
}

.action button{
    background-color: rgb(47, 55, 85);
    border: none;
    color: #fff;
    border-radius: 9px;
    height: 25px;
    width: 80px;
    box-shadow: 4px 4px 9px #808080;
    margin-top: 30px;
    margin-left: 20px;
}

.content .performanceList{
    grid-column-start: 3;
    grid-column-end: 11;
    grid-row-start: 4;
    grid-row-end: 7;
    background-color: rgb(47, 55, 85);
    position: relative;
    top: 130px;
    left: 30%;
    height: 300px;
}

.generateReport button{
    position: relative;
    top: 150px;
    left: 115%;
    background-color: rgb(47, 55, 85);
    color: #fff;
    border-radius: 9px;
    height: 30px;
    width: 120px;       
}