* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: rgb(47, 55, 85);
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h3 {
    margin-left: 10px;
}

.user-info {
    display: flex;
    align-items: center;
    margin-right: 20px; 
}

.user-info p {
    margin: 0 10px; 
}

nav {
    display: flex;
    margin-right: 20px; 
}



.sideNavbar {
    background-color:  rgb(47, 55, 85);
    color: #fff;
    padding: 20px;
    width: 200px;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    overflow-y: auto;
}

.sideNavbar a {
    display:flex;
    padding: 10px 20px;
    margin-bottom: 10px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 5px; 
}

.sideNavbar a:hover {
    background-color: #777;
}

.main-content {
    margin-left: 340px; 
    padding: 100px;
}


table {
    margin-left: 15%;
    padding-bottom: 20px;
    width: 84%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}
