/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Header styles */
header {
    border-bottom: 1px solid #808080;
    width: 100%;
    background-color: rgb(47, 55, 85);
    display: flex;
}

#logo {
    height: 45px;
    width: 45px;
    background-image: url(./Images/Logo.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 50%; 
}

#logoName {
    font-size: small;
    padding-left: 3px;
    color: #fff;
}

nav {
    margin-top: 20px;
    margin-left: 40%;
}

a {
    color: #fff;
    padding-right: 60px;
    text-decoration: none;
}

/* User logo styles */
.userlogo {
    color: #fff;
    display: flex;
    position: relative;
    top: 15px;
    left: 550px; /* Adjusted from 550px */
}

.image {
    height: 50px;
    width: 50px;
    background-image: url(./Images/Bijay.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%; 
    position: relative;
    bottom: 10px;
    margin-left: 15px;
}

.role {
    color: #fff;
    position: relative;
    top: 35px;
    left: 400px; 
    font-size: small;
}
/* Form Styles */
.forms {
    margin: 100px auto;
    padding: 10px;
    background-color: #f9f9f9; 
    border: 1px solid #ddd; 
    border-radius: 10px; 
    max-width: 800px; 
}

.forms fieldset {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd; 
    border-radius: 10px;
}

.fieldset legend {
    font-weight: bold;
    margin-bottom: 20px;
}

.fieldset label {
    display: block;
    margin-bottom: 20px; 
}

.fieldset input[type="number"],
.fieldset textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.fieldset input[type="radio"] {
    margin-right: 10px;
}

#submit {
    background-color: rgb(47, 55, 85);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#submit:hover {
    background-color: #354152; /* Darken the background on hover */
}
