*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

html{
    scroll-behavior: smooth;
}

header{
    border-bottom: 1px solid #808080;
    width: 100%;
    background-color: rgb(47, 55, 85);
    display: flex;
    position: fixed;
    z-index: 1;
}

#logo{
    height: 45px;
    width: 45px;
    background-image: url(./Images/Logo.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 90px;
}
#logoName{
    font-size: small;
    padding-left: 3px;
    color: #fff;
}

nav{
    margin-top: 20px;
    margin-left: 20%;
}
a{
    color: #fff;
    padding-right: 60px;
    text-decoration: none;
}

#home:hover{
    text-decoration: underline;
}
#AboutUs:hover{
    text-decoration: underline;
}
#Service:hover{
    text-decoration: underline; 
}
#ContactUs:hover{
    text-decoration: underline;
}
#Signup:hover{
    text-decoration: underline;
}

#search{
    margin-left: 50px;
    padding-left: 5px;
    border-radius: 9px;
    width: 200px;
    border: none;
}

section{
    height: auto;
    width: 600px;
}
.Greeting{
    position: relative;
    top: 190px;
    left: 110%;
    font-size: x-large;
    color: rgb(47, 55, 85);
}

.scrollDown{
    position: relative;
    top: 300px;
    left: 115%;
}

.message{
    height: 300px;
    width: 1100px;
    background-color: rgb(47, 55, 85);
    border-radius: 15px;
    box-shadow: 2px 2px 9px 2px #808080;
    position: relative;
    top: 550px;
    left: 180px;    
    color: #fff;
    display: flex;
}

.left{
    width: 40%;
    background-image: url(./Images/Image.jpg);
    background-size: contain;
    background-position: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.right{
    width: 60%;
}

.right h3{
    text-align: center;
    padding-top: 40px;
}
.right p{
    text-align: center;
    padding-top: 50px;
}

.right button{
    border-radius: 9px;
    background-color: #fff;
    color: rgb(47, 55, 85);
    height: 20px;
    width: 70px;
    border: none;
    margin-top: 40px;
    margin-left: 300px;
}

.aboutInnovateNepal{
    height: 190px;
    width: 1100px;
    background-color: rgb(47, 55, 85);
    box-shadow: 2px 2px 9px 2px #808080;
    border-radius: 15px;
    color: #fff;
    position: relative;
    top: 700px;
    left: 90px;
}

.title1{
    text-decoration: underline;
    padding-left: 10px;
}
.content1{
    padding-top: 10px;
    padding-left: 10px;
}

.HRMS{
    height: 190px;
    width: 900px;
    background-color: rgb(47, 55, 85);
    box-shadow: 2px 2px 9px 2px #808080;
    border-radius: 15px;
    color: #fff;
    position: relative;
    top: 800px;
    left: 530px;
}

.title2{
    text-decoration: underline;
    padding-left: 10px;
}

.content2{
    padding-top: 10px;
    padding-left: 10px;
}

.why{
    height: 190px;
    width: 900px;
    background-color: rgb(47, 55, 85);
    box-shadow: 2px 2px 9px 2px #808080;
    border-radius: 15px;
    color: #fff;
    position: relative;
    top: 900px;
    left: 230px;
}

.title3{
    text-decoration: underline;
    padding-left: 10px;
}

.content3{
    padding-top: 10px;
    padding-left: 10px;
}

.services{
    height: 350px;
    width: 1300px;
    position: relative;
    top: 1000px;
    left: 80px;
    display: grid;
    grid-template-columns: repeat(12,100px);
    grid-template-rows: repeat(6,100px);
}

.title4{
    text-decoration: underline;
    padding-left: 10px;
    color:rgb(47, 55, 85);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.box{
    height: 200px;
    width: 200px;
    background-color: rgb(47, 55, 85);
    border-radius: 9px;
    
}
.one{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    background-image: url("./Images/employee\ management.jpg");
    background-position: center;
    background-size: cover;
}

.two{
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 4;
    background-image: url("./Images/payroll.jpg");
    background-position: center;
    background-size: cover;
}

.three{
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 4;
    background-image: url("./Images/benefit.jpg");
    background-position: center;
    background-size: cover;
}

.four{
    grid-column-start: 11;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 4;
    background-image: url("./Images/performance\ evaluation.jpg");
    background-position: center;
    background-size: cover;
}

.service{
    color: rgb(47, 55, 85);
    background-color: #fff;
    border-radius: 9px;
    margin-top: 170px;
    height: 30px;
    box-shadow: 0px 4px 9px #808080;
    text-align: center;
    padding-top: 5px;
}

footer{
    display: flex;
    height: 200px;
    width: 100%;
    background-color: rgb(47, 55, 85);
    margin-top: 80%;
}

.Cont{
    width: 20%;
    color: #fff;
    
}

i{
    padding-left: 5px;
}

p{
    padding-top: 20px;
    padding-left: 5px;
}

.socialMedia{
    padding-top: 20px;
    padding-left: 10px;
    letter-spacing: 0.3em;
}

.Cont h3{
    padding-top: 10px;
    padding-left: 20px;
    text-decoration: underline;
}

.srvc{
    width: 20%;
    color: #fff;
}

.srvc h3{
    padding-top: 10px;
    padding-left: 10px;
    text-decoration: underline;
}

.about{
    color: #fff;
    text-decoration: underline;
    width: 20%;
}

.map{
    height: 150px;
    width: 40%;
    background-color: #fff;
    border-radius: 9px;
    margin-top: 17px;
    margin-right: 20px;
}

#EM {
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 7;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: #ffffff05;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(25px);
}

#EM .content {
    background-color: rgb(47, 55, 85);
    color: #fff;
    box-shadow: 2px 2px 9px 1px #cfcfcf;
    height: 120px;
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 5px;
}

#EM .footer button {
    height: 30px;
    width: 40px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 9px 1px #cfcfcf;
    background-color: rgb(47, 55, 85);
    color: #fff;
    position: relative;
    top: 0px;
    left: 67%;
}

#PR {
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 7;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: #ffffff05;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(25px);
}

#PR .content {
    background-color: rgb(47, 55, 85);
    color: #fff;
    box-shadow: 2px 2px 9px 1px #cfcfcf;
    height: 120px;
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 5px;
}

#PR .footer button {
    height: 30px;
    width: 40px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 9px 1px #cfcfcf;
    background-color: rgb(47, 55, 85);
    color: #fff;
    position: relative;
    top: 0px;
    left: 67%;
}

#Bene {
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 7;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: #ffffff05;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(25px);
}

#Bene .content {
    background-color: rgb(47, 55, 85);
    color: #fff;
    box-shadow: 2px 2px 9px 1px #cfcfcf;
    height: 120px;
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 5px;
}

#Bene .footer button {
    height: 30px;
    width: 40px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 9px 1px #cfcfcf;
    background-color: rgb(47, 55, 85);
    color: #fff;
    position: relative;
    top: 0px;
    left: 67%;
}

#PE {
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 7;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: #ffffff05;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(25px);
}

#PE .content {
    background-color: rgb(47, 55, 85);
    color: #fff;
    box-shadow: 2px 2px 9px 1px #cfcfcf;
    height: 120px;
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 5px;
}

#PE .footer button {
    height: 30px;
    width: 40px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 9px 1px #cfcfcf;
    background-color: rgb(47, 55, 85);
    color: #fff;
    position: relative;
    top: 0px;
    left: 67%;
}