* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 400px;
    background-color: #3957BF;
    border-radius: 19px;
    box-shadow: 2px 2px 9px 2px #808080;
    color: #fff;
    padding: 20px;
}

.nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

button {
    height: 30px;
    width: 80px;
    border-radius: 15px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 220px;
}

button:hover {
    background-color: #0056b3;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    margin-top: 20px;
}

form #submit {
    border-radius: 9px;
    border: none;
    box-shadow: 2px 2px 9px 2px #808080;
    width: 70px;
    margin-top: 10px;
    margin-left: 140px;
    padding-left: 0px;
}

i {
    margin-right: 5px;
}

input {
    border-radius: 9px;
    padding: 10px;
    margin-bottom: 15px;
    width: calc(100% - 20px); /* Adjusted width */
}

#forgotPassword {
    text-align: center;
    margin-top: 10px;
}

#forgotPassword a {
    color: #fff;
    text-decoration: none;
}

#forgotPassword a:hover {
    color: rgb(255, 0, 0);
}

.Already {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.signup {
    color: #fff;
    text-decoration: none;
    padding-left: 10px;
}

.signup:hover {
    color: rgb(47, 0, 255);
}

.GorF {
    text-align: center;
    margin-top: 35px;
}

.line1,
.line2 {
    border-top: 1px solid #fff;
    width: 40%;
    margin: 0 100px;
}

.option {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.or {
    color: #fff;
    margin: 0 10px;
}

.google,
.facebook {
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.google:hover,
.facebook:hover {
    color: rgb(0, 204, 255);
}
